/* Section Symptoms CSS Start*/
section.section--symptoms {
    width: 80%;
    margin: 10px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
section.section--symptoms a {
    color: #5D5DFF;
    text-decoration: none;
}
.section--symptoms p {
    color: #333;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.section--symptoms .heading__blue {
    color: #5D5DFF;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}
.section--symptoms .anchor__blue{
    color: #5D5DFF;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
    line-height: 24px;
}
.section--symptoms .heading--two {
    color: #333;
    font-size: 24px;
    line-height: 28px;
    margin: 32px 0 25px;
}
.section--symptoms .heading__black {
    font-size: 18px;
    margin-bottom: 8px;
}
.section--symptoms ul {
    list-style: none;
}
.section--symptoms li {
    font-size: 16px;
    line-height: 24px;
    padding-left: 45px;
    margin: 5px 0;
    position: relative;
}
.section--symptoms ul li::before {
    content: "";
    background: #333;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 20px;
    position: absolute;
    left: 0px;
    top: 8px;
}
.section--symptoms  {
    margin-top: 52px;
}
.section--symptoms .section--symptoms-list-box {
    margin: 30px 0;
}
@media screen and (max-width: 767px) {
    section.section--symptoms  {
        width: 90%;
    }
    .section--symptoms p {
        line-height: 22px;
    }
    .section--symptoms li {
        padding-left: 20px;
    }
    .section--symptoms ul li::before {
        left: -15px;
        top: 10px;
        width: 7px;
        height: 7px;
    }
}
@media screen and (min-width: 1800px) {
    .section--symptoms p,
    .section--symptoms .anchor__blue,
    .section--symptoms li {
        font-size: calc(14px + 0.5vw);
        line-height: 1.6;
    }
    .section--symptoms .heading--intro {
        font-size: calc(12px + 1.5vw);
        line-height: 1.5;
    }
    .section--symptoms .heading__blue {
        font-size: calc(14px + 0.5vw);
        line-height: 1.4;
        margin-top: 25px;
    }
    .section--symptoms .heading__black {
        font-size: calc(16px + 0.5vw);
        line-height: 1.5;
    }
    .section--symptoms .heading--two {
        font-size: calc(16px + 1vw);
        line-height: 1.4;
    }
    .section--symptoms ul li::before {
        width: 10px;
        height: 10px;
        top: 13px;
    }
}
/* Section Symptoms CSS End*/